{{=<% %>=}}
 
	<ion-content>
	
	 	<iframe class="iframe" src="<% url %>" name="presentation" id="presentation" scrolling="no" style="overflow:hidden; height:100%; width:100%" height="100%" width="100%"></iframe>
	 	
	</ion-content>
	
